<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout}">
<body>
<div layout:fragment = "content">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form th:action="@{'/companies/' + ${id} + '/users/add'}" method="post">
                        <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                            <h1 class="mx-auto">Добавление пользователя в компанию</h1>
                        </div>
                            <select required name="userId" class="selectpicker mt-3 show-tick" data-style="btn-outline-primary" data-live-search="true" title="Выберите пользователя" data-width="100%">
                                <option th:each = "user : ${users}" th:value="${user.getId()}" th:data-content="@{'Имя: ' + ${user.getUsername()} + '<br>' + 'Email: ' + ${user.getEmail()}}">
                                </option>
                            </select>
                        <div class="form-outline mt-4">
                            <input type="submit" class="btn btn-primary w-100" value="Добавить"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
<script>
    $('.selectpicker').selectpicker({
        noneResultsText: "Нет результатов"
    });
</script>