<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout}">
<body>
<div layout:fragment = "content">
    <section class="mt-5">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-9 col-lg-6 col-xl-5">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                         class="img-fluid" alt="Sample image">
                </div>
                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                    <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                        <h2 class="mx-auto">Проверьте почтовый ящик</h2>
                    </div>
                    <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                        <p  class="text-center" th:text="'Мы отправили вам письмо на адрес ' + ${email}"></p>
                    </div>
                    <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                        <p class="mx-auto">Там будет ссылка для восстановления пароля</p>
                    </div>
                    <a href="/forget-password" class="btn btn-primary w-100">Назад</a>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>