<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout}">
<body>
<div layout:fragment = "content">
    <section class="mt-5">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-9 col-lg-6 col-xl-5">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                         class="img-fluid" alt="Sample image">
                </div>
                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                    <form th:action="@{/forget-password}" method="post">
                        <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                            <h2 class="mx-auto">Восстановление пароля</h2>
                        </div>

                        <div class="form-outline mb-4 mt-3">
                            <label class="form-label" for="form3Example3">Email</label>
                            <input required type="email" name="email" id="form3Example3" class="form-control form-control-lg"
                                   placeholder="Введите email" />
                        </div>

                        <div class="form-outline mt-4">
                            <input type="submit" class="btn btn-primary w-100" value="Восстановить"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>