<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout}">
<body>
<div layout:fragment = "content">

    <div class="container">
        <div class="row g-3">
            <div class="col-md-3">
                <form id="form">
                    <div class="mb-3">
                        <label for="year" class="form-label">Введите год</label>
                        <input required type="number" step="1" min="2022" max="100000" class="form-control" id="year">
                    </div>
                    <div class="form-outline mt-4">
                        <input type="submit" class="btn btn-primary w-100" value="Построить"/>
                    </div>
                </form>
            </div>
            <div class="col-md-9">
                <div>
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const labels = ["Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь"];

    var myChart = new Chart(
        document.getElementById('myChart'),
    );

    $('#form').on('submit', function(e) {
        e.preventDefault();
        buildChart();
    });

    function buildChart() {
        $.ajax({
            type: "GET",
            data: {"year": $('#year').val()},
            dataType: 'json',
            url: window.location.origin + '/income-chart-get-values',
            success: function (incomeAdvertisings) {

                var datasets = [];
                incomeAdvertisings.forEach(function(advertising){
                    datasets.push({
                        label: advertising.advertising,
                        data: advertising.monthsValues,
                        borderColor: getRandomRgb(),
                        backgroundColor: getRandomRgb(),
                        yAxisID: 'y'
                    });
                })

                var data = {
                    labels: labels,
                    datasets: datasets
                };

                var config = {
                    type: 'line',
                    data: data,
                    options: {
                        responsive: true,
                        interaction: {
                            mode: 'index',
                            intersect: false,
                        },
                        stacked: false,
                        plugins: {
                            title: {
                                display: true,
                                text: 'График доходов реклам($)'
                            }
                        },
                        scales: {
                            y: {
                                type: 'linear',
                                display: true,
                                position: 'left',
                            }
                        }
                    },
                };

                myChart.destroy();
                myChart = new Chart(
                    document.getElementById('myChart'),
                    config
                );

                $("#toastText").text("Диаграмма успешно построена");
                $("#myToast").toast("show");
            },
            error: function () {
                $("#toastText").text("Произошла ошибка при построении диаграммы");
                $("#myToast").toast("show");
            }
        });
    }

    function getRandomRgb() {
        var num = Math.round(0xffffff * Math.random());
        var r = num >> 16;
        var g = num >> 8 & 255;
        var b = num & 255;
        return 'rgb(' + r + ', ' + g + ', ' + b + ')';
    }
</script>