<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout}">
<body>
<div layout:fragment = "content">
    <section class="mt-5">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-9 col-lg-6 col-xl-5">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                         class="img-fluid" alt="Sample image">
                </div>
                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                    <form th:action="@{/sign-up}" th:object="${user}" method="post">
                        <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                            <h1 class="mx-auto">Регистрация</h1>
                        </div>

                        <div class="form-outline mb-4 mt-3">
                            <label class="form-label" for="form3Example3">Имя пользователя</label>
                            <input type="text" th:field="*{username}" id="form3Example3" class="form-control form-control-lg" th:classappend="${#fields.hasErrors('username') ? 'is-invalid' : ''}"
                                   placeholder="Введите имя пользователя" />
                            <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="invalid-feedback"></div>
                        </div>

                        <div class="form-outline mb-4 mt-3">
                            <label class="form-label" for="form3Example1">Email</label>
                            <input required th:field="*{email}" id="form3Example1" class="form-control form-control-lg" th:classappend="${#fields.hasErrors('email') ? 'is-invalid' : ''}"
                                   placeholder="Введите email" />
                            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="invalid-feedback"></div>
                        </div>

                        <div class="form-outline mb-3">
                            <label class="form-label" for="form3Example4">Пароль</label>
                            <input type="password" th:field="*{password}" id="form3Example4" class="form-control form-control-lg" th:classappend="${#fields.hasErrors('password') ? 'is-invalid' : ''}"
                                   placeholder="Введите пароль" />
                            <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="invalid-feedback"></div>
                        </div>

                        <div class="form-outline mb-3">
                            <label class="form-label" for="form3Example5">Повторный пароль</label>
                            <input type="password" th:field="*{againPassword}"  id="form3Example5" class="form-control form-control-lg" th:classappend="${#fields.hasErrors('againPassword') ? 'is-invalid' : ''}"
                                   placeholder="Повторите пароль" />
                            <div th:if="${#fields.hasErrors('againPassword')}" th:errors="*{againPassword}" class="invalid-feedback"></div>
                        </div>

                        <div class="form-outline mt-4">
                            <input type="submit" class="btn btn-primary w-100" value="Зарегестрироваться"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>