<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout}">
<body>
<div layout:fragment = "content">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form method="post" th:action="@{'/users/' + ${user.getId()} + '/edit'}">
                    <div class="form-outline mb-4 mt-3">
                        <label class="form-label" for="form3Example3">Имя пользователя</label>
                        <input minlength="3" maxlength="30" name="username" th:value="${user.getUsername()}" required type="text" id="form3Example3" class="form-control form-control-lg"
                               placeholder="Введите имя пользователя" />
                    </div>

                    <div class="form-outline mb-4 mt-3">
                        <label class="form-label" for="form3Example1">Email</label>
                        <input required type="email" id="form3Example1" th:value="${user.getEmail()}" name="email" class="form-control form-control-lg"
                               placeholder="Введите email" />
                    </div>

                        <div th:if="${#strings.listJoin(#authentication.getAuthorities(),',').contains('Admin') && user.getId() != #authentication.principal.id}" >
                            <label>Роли: </label>
                            <div th:each = "role: ${roles}">
                                <input type="checkbox" name="roles" th:attr="checked=${user.getRoles().contains(role) ? 'checked' : null}"
                                       th:value="${role}" class="form-check-input" id="flexCheckDefault"/>
                                <label th:text="${role}" class="form-check-label" for="flexCheckDefault">
                                </label>
                            </div>
                        </div>
                        <div th:if="${user.getId() == #authentication.principal.id}" hidden>
                            <div th:each = "role: ${roles}">
                                <input type="checkbox" name="roles" th:attr="checked=${user.getRoles().contains(role) ? 'checked' : null}"
                                       th:value="${role}" class="form-check-input" id="flexCheckDefault"/>
                                <label th:text="${role}" class="form-check-label" for="flexCheckDefault">
                                </label>
                            </div>
                        </div>

                    <div class="form-outline mb-3 mt-3">
                        <label class="form-label" for="form3Example4">Пароль</label>
                        <input minlength="5" maxlength="30" name="password" type="password" required id="form3Example4" class="form-control form-control-lg"
                               placeholder="Введите пароль" />
                    </div>

                    <div class="form-outline mt-4">
                        <input type="submit" class="btn btn-primary w-100" value="Cохранить"/>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>